#timer {
	font-size: 100px;
}

label {
	font-family: helvetica;
	font-size: 13px;
}

#timeInput {
	text-align: right;
	border: 1px solid gray;
}

#alertBox {
	margin-top: 10px;
}

.bar-active {
	background: rgba(97, 234, 157, 1);
	color: rgba(0, 0, 0, 0);
}

.bar-finished {
	background: rgba(231, 60, 60, 1);
	color: black;	
	opacity:1;
}

#bar-outer {
  position: relative;
	border: 1px solid gray;
	width: 220px;
	height: 40px;
	margin-top: 10px;
}

#bar-inner {
	width:0px;
	float: left;
	height:40px;
	text-align: center;
	line-height: 40px;
}

#message-container {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#message-container:hover {
	opacity: 1;
}
